body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  position: fixed;
  background-color: #092256;
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}

.center-all{
  display: flex; 
  justify-content: center;
  align-items: center;
}

.blue-text{
  color: #092256;
}


.small-text{
  font-size: 0.9rem;
  color: #1E488F;
}

.category-button, .category-button:active{
  width: 16rem;
  height: 14rem;
  border-radius: 30px;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
}

.submit-button{
  background-color: #092256;
  border-color: #687f8c;
}

.submit-button:hover, .submit-button:active, .submit-button:focus{
  background-color: white;
  border-color: #092256;
  color:#092256;
  font-weight: bold;
}

.dropdown-button{
  background-color: #687f8c;
  border-color: #687f8c;
  color:white;
  border-radius: 30px;
}

.dropdown-item, .dropdown-item:active{
  background-color: white;
  color:black;
}
.modal-button{
  color: #1E488F;
  border-color: #1E488F;
  background-color: #FFFFFF;
  font-weight: bold;
  width: 20rem;
}
.modal-button:hover{
  color: white;
  border-color: #1E488F;
  background-color: #1E488F;
  font-weight: bold;
  width: 20rem;
}