.service{
    background-color: rgb(0, 60, 172);
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 8rem;
    border-color:rgb(0, 60, 172);
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  }
  .service:hover{
    background-color: rgba(0,60,172, 0.85);
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 8rem;
    border-color: rgb(0,60,172);
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  }
  
#dropdown-button{
  background-color: #687f8c;
  border-color: #687f8c;
}

.squared-button:hover{
  background-color: white !important;
  border-color: #092256 !important; 
  color: #092256 !important;
}

.squared-button:active{
  background-color: white !important;
  border-color: #092256 !important; 
  color: #092256 !important;
}